<section class="calendar">
  <div class="calendar__top-bar">


    <button mat-raised-button color="warn" (click)="logout()">Cerrar sesión</button>

    <div class="calendar__views">
      <button *ngIf="!isAdmin" mat-raised-button color="primary" (click)="verPerfil()">
        Perfil
      </button>
    </div>

    <button *ngIf="isAdmin" mat-raised-button color="primary" (click)="verGraficos()">
      Graficos de eventos
    </button>

    <button *ngIf="isAdmin" mat-raised-button color="accent" (click)="verUsuarios()">
      Ver usuarios
    </button>

    <button mat-raised-button color="primary" (click)="showEventModal()">Nuevo evento</button>

    <div class="calendar__views">
      <button mat-button (click)="toggleView('month')">Vista Mes</button>
      <button mat-button (click)="toggleView('week')">Vista Semana</button>
    </div>
  </div>

  <div class="calendar__navigation">
    <button mat-icon-button (click)="previous()">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <span *ngIf="viewMode==='month'">{{ currentMonthAndYear }}</span>
    <span *ngIf="viewMode==='week'">{{ currentWeekRange }}</span>
    <button mat-icon-button (click)="next()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>

  <div *ngIf="viewMode==='month'" class="calendar__grid">
    <span class="calendar__day-name" *ngFor="let n of nameDay">{{ n }}</span>
    <div class="calendar__day" *ngFor="let day of calendarDays; let i = index" [ngClass]="{ 'calendar__day--current-day': day.currentDay }">
      <div class="calendar__day-header"><span>{{ day.day }}</span></div>
      <div class="calendar__events">
        <button
          class="calendar__event"
          *ngFor="let ev of day.events; let j = index"
          (click)="showEventModal(ev, i, j)"
          [ngStyle]="{ 'background-color': ev.background, 'color': ev.color }"
        >
          <div class="calendar__event-content-month no-gap">
            <div class="time">{{ ev.date | date: 'shortTime' }}</div>
            <div class="details">{{ ev.name }} - {{ ev.patientName }} - {{ ev.patientDni }}</div>
          </div>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="viewMode==='week'" class="calendar__grid week-view">
    <span class="calendar__day-name" *ngFor="let n of nameDay">{{ n }}</span>
    <div class="calendar__day" *ngFor="let day of weekDays; let i = index" [ngClass]="{ 'calendar__day--current-day': day.currentDay }">
      <div class="calendar__day-header"><span>{{ day.day }}</span></div>
      <div class="calendar__events">
        <button
          class="calendar__event_week"
          *ngFor="let ev of day.events; let j = index"
          (click)="showEventModal(ev)"
          [ngStyle]="{ 'background-color': ev.background, 'color': ev.color }"
        >
          <div class="calendar__event-content">
            <div class="time">{{ ev.date | date: 'shortTime' }}</div>
            <div class="event-title">{{ ev.name }}</div>
            <div class="event-patient">{{ ev.patientName }} - {{ ev.patientDni }}</div>
          </div>
        </button>
      </div>
    </div>
  </div>
</section>
