<div class="container">
  <h2>Historial de {{ userName }} (DNI: {{ dni }})</h2>

  <button mat-stroked-button color="accent" (click)="goBack()" class="back-btn-floating">
    <mat-icon>arrow_back</mat-icon> Volver a Usuario
  </button>

  <form [formGroup]="form" (ngSubmit)="addHistorial()" class="historial-form">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="descripcion"></textarea>
      <mat-error *ngIf="form.get('descripcion')?.hasError('required')">
        La descripción es obligatoria.
      </mat-error>
    </mat-form-field>

    <input type="file" (change)="onFileSelected($event)" class="file-input" />

    <button mat-flat-button color="primary" type="submit" [disabled]="isLoading || form.invalid" class="submit-btn">
      <mat-icon *ngIf="isLoading" class="spin">autorenew</mat-icon>
      Agregar al Historial
    </button>
  </form>

  <mat-form-field appearance="outline" class="full-width" *ngIf="historial.length > 0">
    <mat-label>Ordenar por fecha</mat-label>
    <mat-select [(value)]="ordenFecha" (selectionChange)="ordenarHistorial()">
      <mat-option value="desc">De más reciente a más antigua</mat-option>
      <mat-option value="asc">De más antigua a más reciente</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="empty-message" *ngIf="historial.length === 0">
    No hay historial disponible.
  </div>

  <div class="historial-scroll-container" *ngIf="historial.length > 0">
    <div *ngFor="let item of historial" class="historial-item" (click)="verImagenCompleta(item.imagenUrl ?? null)">
      <mat-card>
        <mat-card-title>
          {{ item.fecha ? (item.fecha | date:'short') : 'Sin fecha' }}
        </mat-card-title>
        <mat-card-content>
          <div class="descripcion-scrollable">
            {{ item.descripcion }}
          </div>
          <div class="historial-img-container">
            <img *ngIf="item.imagenUrl" [src]="item.imagenUrl" width="200" class="historial-img"/>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="fullscreen-overlay" *ngIf="fullscreenImageUrl">
    <div class="close-button" (click)="cerrarImagenCompleta()">
      <mat-icon>close</mat-icon>
    </div>
    <img [src]="fullscreenImageUrl" class="fullscreen-img" />
  </div>
</div>
