.usuarios-container {
  max-width: 600px;
  margin: 3rem auto;
  text-align: center;
}

.usuarios-container h2 {
  color: #0086b3;
}

.buscador {
  width: 97%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.usuarios-scroll {
  max-height: 540px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.usuarios-scroll::-webkit-scrollbar {
  display: none;
}


.usuario-card {
  margin: 1rem auto;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.usuario-card:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  background-color: #02a3d8;
}
