/* You can add global styles to this file, and also import other style files */

/* styles.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;    /* quita la barra de scroll global */
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url('../images/fondo_app.jpg');
  background-size: cover;
  background-position: center;
}
