<button mat-stroked-button type="button" color="accent" (click)="verUsuarios()" class="back-btn-floating">
   <mat-icon>arrow_back</mat-icon>Volver a Usuarios
</button>

<div class="user-container">
  <h2>Datos del Usuario</h2>

  <form [formGroup]="form" (ngSubmit)="saveUser()">
    <mat-form-field>
      <mat-label>DNI</mat-label>
         <input matInput formControlName="dni" [disabled]="true">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" [disabled]="!editingOwnProfile">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nombre Completo</mat-label>
      <input matInput formControlName="nombreCompleto">
    </mat-form-field>

    <button mat-flat-button type="submit" color="primary">
      Guardar Cambios
    </button>

    <button mat-flat-button type="button" color="accent" (click)="goToHistorial()">
      Ver Historial
    </button>
  </form>
</div>
