<!-- Botón de retroceso según si es admin o no -->
<button mat-stroked-button type="button" color="accent"
        *ngIf="isAdmin; else volverCalendario"
        (click)="verUsuarios()"
        class="back-btn-floating">
  <mat-icon>arrow_back</mat-icon>Volver a Usuarios
</button>

<ng-template #volverCalendario>
  <button mat-stroked-button type="button" color="accent"
          (click)="volverAlCalendario()"
          class="back-btn-floating">
    <mat-icon>arrow_back</mat-icon>Volver al Calendario
  </button>
</ng-template>

<div class="user-container">
  <h2>Datos del Usuario</h2>

  <form [formGroup]="form" (ngSubmit)="saveUser()">
    <mat-form-field>
      <mat-label>DNI</mat-label>
      <input matInput formControlName="dni" [disabled]="true">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" [disabled]="!editingOwnProfile">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nombre Completo</mat-label>
      <input matInput formControlName="nombreCompleto">
    </mat-form-field>

    <button mat-flat-button type="submit" color="primary">
      Guardar Cambios
    </button>

    <button mat-flat-button type="button" color="accent" (click)="goToHistorial()" *ngIf="isAdmin">
      Ver Historial
    </button>
  </form>
</div>
